.ProgressBar {
  // TODO style the element
}

.ProBar {
  // TODO style the element
  margin-block-start: -20px;
  margin-block-end: 20px;
  display: flex;
  height: 60px;
  align-items: center;
  position: relative;
  background-color: #eee;
}

.progress-bar {
  margin-block-start: 20px;
  display: flex;
  height: 50px;
  align-items: center;
  position: relative;
}

.indicator-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pbar-width {
  height: 5px;
  background-color: #aca6a6;
  width: calc(100%);
  border-radius: 5px;
}

.active-pbwidth {
  height: inherit;
  width: 0%;
  background-color: rgb(242,99,35);
  border-radius: 5px;
  transition: width ease 0.8s;
}

.pbStep-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.pbStep {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color ease 0.2s;
}

.pbStep-name {
  position: absolute;
  inset-block-start: 100%;
}

.indicator-wrapper.active .pbar-width .active-pbwidth {
  width: 100%;
}

.indicator-wrapper.active .pbStep-wrapper .pbStep {
  background-color: rgb(242,99,35);
}

.indicator-wrapper.active .pbStep-wrapper .pbStep-name {
  color: rgb(242,99,35);
}
